<div class='productInLineText' appDynamicBackground>{{purchasedProduct.Product.Name}} costs {{purchasedProduct.Product.Price}} count {{purchasedProduct.Count}}&nbsp;</div>
<div class='productInLineText'>
    <input type="button" value="+" (click)="onAddClick()">&nbsp;
    <input type="button" value="-" (click)="onRemoveClick()">&nbsp;
    <!-- Эта кнопка удаляет текущую запись, но не все записи из корзины. Возможно, так и должно быть, тогда название не очень удачное -->
    <input type="button" value="remove all" (click)="onRemoveAllClick()">
</div>
