<mat-card class="mainBlock">
    <div class="rightPosition">
        <button mat-stroked-button color="accent" class="saveBtn" (click)="onSaveClick()">Save</button>
    </div>
    <div class="inline">
        <a class="productLink" [routerLink]="['/admin/product/edit', product.Id]">{{product.Name}}</a>
        <mat-form-field class="verticalControl">
            <mat-label>Name</mat-label>
            <input type="text" matInput [(ngModel)]="product.Name">
        </mat-form-field>
        <mat-form-field class="verticalControl">
            <mat-label>Price</mat-label>
            <input type="number" matInput [(ngModel)]="product.Price">
        </mat-form-field>
        <mat-form-field class="verticalControl">
            <mat-label>Remaining</mat-label>
            <input type="number" matInput [(ngModel)]="product.Remaining">
        </mat-form-field>
    </div>
</mat-card>