<app-card-main-nav-panel></app-card-main-nav-panel>
<app-main-content-card>
    <h2>About</h2>
    Task 3.3. [ConfigOptionsService] <input type="button" value="Test Local Storate (see results in the console)" (click)="onTestLocalStorageBtnClick()"> 
    <br>
    Task 3.4. [ConstantsService] Constant values: App: {{constantContent.App}}, Ver: {{constantContent.Ver}}
    <br>
    Task 3.5. [GeneratorService] randomStrLen: {{randomStrLen}}
    <br>
    Task 3.7. <input type='button' value='Click me' appClickBorder borderColor="red">
    <br>
    Task 4.1. Click on the "Test Local Storate" button. ResultObj with {{'json' | uppercase}} pipe: <input type="text" [value]="testLocalStorageVal | json">
    <br><br>
</app-main-content-card>

