<div>
    <ul *ngFor="let purchasedProduct of purchasedProducts">
        <li><app-cart-product-in-list 
            [purchasedProduct]="purchasedProduct" 
            (increaseProductCount)="onIncreaseProductCountClick($event)"
            (decreaseProductCount)="onDecreaseProductCountClick($event)"
            (removeAllSingleProduct)="onRemoveAllSingleProductClick($event)"></app-cart-product-in-list>
        </li>
    </ul>
    Total products: {{getTotalProducts()}}
    <br><br>
    Total cost: {{getTotalCost()}}
    <br><br>
</div>