<ng-container>
    <mat-toolbar color="primary" class="header">
        <div class="content">
            <div class="left-block">
                <div class="item toggle"><button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></div>
                <div class="item title"><h1 #appTitle></h1></div>
            </div>
            <div class="right-block">
                <div class="item cart"><app-cart-minimized></app-cart-minimized></div>
                <div class="item login"><app-login-minimized></app-login-minimized></div>
            </div>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="main">
        <mat-sidenav #sidenav mode="side" opened class="sidenav">
            <mat-nav-list class="list">
                <a mat-list-item routerLink="/home" routerLinkActive="active">Products</a>
                <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
            </mat-nav-list>
        </mat-sidenav>
        
        <mat-sidenav-content>
            <router-outlet
                #routerOutlet="outlet"
                (activate)='onActivate($event, routerOutlet)'
                (deactivate)='onDeactivate($event, routerOutlet)'>
            </router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-toolbar color="primary" class="footer">Yevhen Podkovka</mat-toolbar>
</ng-container>
<app-cart-open [isCartOpen]="cartService.isCartOpen"></app-cart-open>