<ng-container>
    <mat-toolbar color="primary" class="example-header">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 #appTitle></h1>
        <app-cart-minimized></app-cart-minimized>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
            <mat-nav-list class="sidenav-list">
                <a mat-list-item routerLink="/home" routerLinkActive="active">Product list</a>
                <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
                <a mat-list-item routerLink="/testProduct" routerLinkActive="active">Test product</a>
            </mat-nav-list>
        </mat-sidenav>
        
        <mat-sidenav-content>
            <router-outlet
                #routerOutlet="outlet"
                (activate)='onActivate($event, routerOutlet)'
                (deactivate)='onDeactivate($event, routerOutlet)'>
            </router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-toolbar color="primary" class="example-footer">Footer</mat-toolbar>
</ng-container>
<app-cart-open [isCartOpen]="cartService.isCartOpen"></app-cart-open>