<app-card-main-nav-panel></app-card-main-nav-panel>
<app-main-content-card>
    <p>Admin area</p>
</app-main-content-card>
<app-main-content-card>
    <button mat-stroked-button color="primary" routerLink="/admin/products">Edit product catalog</button>
    <button mat-stroked-button color="primary" class="horizontalBtn"  routerLink="/admin/orders">Process orders</button>
    <button mat-stroked-button color="primary" class="horizontalBtn" (click)="onClearLocalStorageBtnClick()">Clear local storage</button>
</app-main-content-card>