.mainBlock{
    top: 11px;
    margin-right: 32px;
    margin: 16px;
}

.topPageNavBlock{
    top: 11px;
    margin-right: 32px;
    margin: 16px;
}

.rightPosition{
    float: right;
}

.warningBox{
    border: 1px solid #ff4081;
}