<app-card-main-nav-panel>
    <button *ngIf="isProductFound()" mat-stroked-button color="accent" class="rightPosition" (click)="onAddToCartClick()">Add to cart</button>
</app-card-main-nav-panel>
<app-main-content-card *ngIf="isProductFound()">
    <p>ProductId = {{product.Id}}</p>
    <p>Name = {{product.Name}}</p>
    <p>Price = {{product.Price}}</p>
</app-main-content-card>
<app-main-content-card *ngIf="isProductNotFound()" class="warningBox">
    <p>Product with Id="{{productIdUrlParam}}" not found.</p>
</app-main-content-card>


