<div *ngIf="isCartOpen" class="modal" id="myModal">
    <!-- Modal content-->
    <div class="modal-content">
        <h2>Cart</h2>
        <div *ngIf="getPurchasedProducts().length !== 0">
            <app-cart-product-list 
            [purchasedProducts]="getPurchasedProducts()"
            (decreaseProductCount)="removeOneProduct($event)"
            (increaseProductCount)="addOneProduct($event)"
            (removeAllSingleProduct)="removeAllOneProduct($event)"></app-cart-product-list>
        </div>
        <div *ngIf="getPurchasedProducts().length === 0">
            <p>Cart is empty</p>
        </div>
        <input type="button" value="Close" (click)="closeCart()">
        <br><br>
    </div>
</div>