<div *ngIf="isCartOpen" class="modal">
    <app-main-content-card [additionalStyles]="{'margin': '15% 32px auto 32px'}">
        <h2>Cart</h2>
        <div *ngIf="getPurchasedProducts().length !== 0">
            <app-cart-product-list 
            [purchasedProducts]="getPurchasedProducts()"
            (decreaseQuantity)="decreaseQuantity($event)"
            (increaseQuantity)="increaseQuantity($event)"
            (removeProduct)="removeProduct($event)"></app-cart-product-list>
        </div>
        <div *ngIf="getPurchasedProducts().length === 0">
            <p>Cart is empty</p>
        </div>
        <input type="button" class="horizontal" value="Clear cart" (click)="onRemoveAllProductsClick()">
        <input type="button" class="horizontal" value="Close" (click)="onCloseCartClick()">
        <br><br>
    </app-main-content-card>
</div>