.mainBlock{
    min-height: 36px;
}
.mainBlock .inline{
    display: inline-block;
}
.mainBlock .rightPosition{
    float: right;
}
.mainBlock .productDescription{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
.mainBlock .productLink{
    text-decoration: none;
    color: black;
    font-size: large;
}
.mainBlock .productLink:hover {
    text-decoration: underline;
    color: green;
  }
