<div>
    <mat-card class="mainBlock"><h2>Product list</h2></mat-card>
    <mat-list *ngFor="let productInStock of productsInStock|async">
        <mat-list-item class="productLine">
            <app-product-in-list-component class="main-product-in-list"
                [product]="productInStock.Product"
                [isProductAvailable]="productInStock.Remaining > 0" 
                [productRemaining]="productInStock.Remaining"
                (productPurchased)="onProductPurchased($event)">
            </app-product-in-list-component>
        </mat-list-item>
    </mat-list>
</div>