<div class="mainBlock">
    <h2>first-component</h2>
    Name: "{{name}}"<br>
    DescriptionText: "{{description}}" DescriptionEdit: <input type="text" [(ngModel)]="description" /><br>
    IsAvailable: <input type="checkbox" [(ngModel)]="isAvailable"/><br>
    <div *ngIf="isAvailable">
        Category: {{getProductCategoryString(category)}}<br>
        <div *ngFor="let productCategory of getProductCategories()">
            <input type="checkbox" [checked]="productCategory == category" (change)="category = productCategory">{{getProductCategoryString(productCategory)}}
        </div>
    </div>
    <br>
    <input type="button" value="Test Local Storate (see results in the console)" (click)="onTestLocalStorageBtnClick()">
    <br><br>
    Constant values: App: {{constantContent.App}}, Ver: {{constantContent.Ver}}
    <br>
    randomStrLen: {{randomStrLen}}
</div>

